[Unit]
Description=Reconcile CoreDNS publication

[Timer]
# 60s after boot, then run each 60s
OnBootSec=60s
OnUnitInactiveSec=60s
AccuracySec=5s

[Install]
WantedBy=timers.target
